<html>
	<head>
		<title>Sentiment Analysis</title>

		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/static/style.css">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="/static/kube.min.css">
	</head>
	<body>
		<div class="row">
			<div class="col col-12">
				<h1 id="title">Sentiment Analysis</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-2 col-8">
				<form class="form" method="post" action="">
					<fieldset>
						<legend>Analyze Your Text</legend>
						<div class="form-item">
							<label for="text">Enter The Text You Want To Get Analyzed Here</label>
							<textarea name="text"></textarea>
						</div>
						<div class="form-item">
							<button type="submit">Go!</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>
